<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VidyaVault</title>
</head>

<body>
    <main id="main">
        <div id="bg">
            <img src="cid:logo" height="100px" width="100px" />
            <h3 id="logo">VidyaVault</h3>
            <div id="in">
                <h2 id="des">VidyaVault member invitation Email</h2>

                <h2><%= content.orgName %></h2>
                <a href="<%= content.Link %>" target="_blank">Reset password</a>
            </div>
            <h3>Hello, <%= receiver %></h3>
        </div>
    </main>
</body>

</html>